$authWidth: 60%;
$inputHeight: 48px;

#auth-window{
  height: 100vh;
  padding-top: 20%;
  .auth-component-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: $authWidth;
    margin: auto;
    .auth-card{
      flex-grow: 1;
      flex-basis: 0;
      height: fit-content;
      align-self: flex-start;
      &:nth-child(1) {
        margin-right: 25px;
      }
      &:nth-child(2) {
        margin-left: 25px;
      }
      .text-input-container{
        min-height: $inputHeight;
        display: flex;
        flex-direction: row;
        padding-bottom: $internalPadding;
        .text-input{
          align-self: center;
          &.error{
            border-color: #D8000C;
          }
          #remember-me{
            margin-right: $internalPadding;
          }
        }
        .input-message-container{
          height: calc(#{$inputHeight} / 2);
          align-self: center;
          position: absolute;
          margin-top: 39px;
          margin-left: 10px;
          z-index: 10;

          .input-message {
            position: relative;
            background: #ffffff;
            border: 1px solid #8e8e8e;
            padding: .2rem .4rem;
            font-size: 12px;
            max-width: 250px;
            min-width: 250px;
            
            .icon-wrapper{
              display: block;
              float: left;
              padding: 2px 7px 1px;
              border-radius: 3px;
              margin-right: 5px;
              color: #fff;
              font-size: 10px;
              &.error{
                background-color: #D8000C;
              }
              &.alert{
                background-color: #d8cb00;
              }
              &.confirm{
                background-color: #d8cb00;
              }
            }

            .text{
              display: block;
            }
          }

          .input-message:after, .input-message:before {
            bottom: 100%;
            left: 10%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          
          .input-message:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #ffffff;
            border-width: 7px;
            margin-left: -7px;
          }
          .input-message:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: #8e8e8e; 
            border-width: 8px;
            margin-left: -8px;
          }
        }
      }
    }
  }
  .message{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: $authWidth;
    top: 10%;
    .message-body{
      padding: 14px 10px;
      font-size: 14px;
    }
  }
}