.text-align-center{
  text-align: center;
}

.align-content-right{
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
}

.full-height{
  height: 100%;
}

.sidebar-width{
  width: 20%;
  min-width: 170px;
  max-width: 240px;
}

.top-bar-height{
  height: calc(85px + #{$internalPadding});
}