#info-banner{
  margin: -0.7rem -0.7rem 0.7rem;
  text-align: center;
  padding: 0.7rem;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.01rem;
  &.error{
    background-color: #FFBABA;
    color: #D8000C;
  }

  &.info{
    background-color: #959be8;
    color: #ffffff;
  }

  .close{
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 0.35rem;
    margin-left: 10px;
    cursor: pointer;
  }

  .span-link{
    text-decoration: underline;
    cursor: pointer;
  }
}