@import "vars";
@import "common";
@import "auth";
@import "resetPassword";
@import "components";
@import "bulma/bulma";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}  

.body-section{
    height: 100vh;
    padding: 0.7rem 0.7rem;
    display: flex;
    flex-direction: column;

    #app-container{
        height: 100%;
        display: flex;
        #main-content-container{
            display: flex;
            width: 100%;
        }
    }
}

.card-content{
    padding: 0.7rem !important;
}